.card_container {
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

// ---------- C O N T A C T - C A R D ----------

.contact-card {
	width: 18em;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	background-color: #ffffff;
	border-radius: 1em;
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.125);
	overflow: hidden;
	// @include transition--smooth;

	&:hover {
		transform: translateY(-0.5em);
	}

	&__header-image {
		width: 100%;
		height: 6em;
		padding-top: 2em;
		background: linear-gradient(
			to right,
			#596074,
			#636b81,
			#8692b4,
			#d3d4d6
		);
		background-size: cover;
		background-color: #fafafa;
	}

	&__avatar {
		width: 6em;
		height: 6em;
		margin: auto;
		background-image: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png");
		background-size: cover;
		background-color: #eeeeee;
		border-radius: 100%;
	}

	&__name {
		margin-top: 3em;
		margin-bottom: 0.5em;
		font-size: 1.125rem;
	}

	&__link {
		display: block;
		padding: 0.5em 1em;
		text-decoration: none;

		a {
			color: #424242;
			text-decoration: none;
		}

		&:hover {
			background-color: #fafafa;
		}
	}

	&__footer {
		margin-top: 0.5em;
		padding: 1em 0;
		background-color: #fafafa;

		&__link {
			display: inline-block;
			margin-right: 1em;
			font-size: 1.125rem;
			// @include transition--smooth;

			a {
				color: #424242;
			}

			&--dribbble {
				margin-right: 0;
			}

			&:hover {
				transform: scale(1.5);
				-webkit-transform: scale(1.5);
				-moz-transform: scale(1.5);
			}
		}
	}
}
